/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b6c7f3;
  height: 90px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.inner {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 200px;
  height: 200px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #093aab(131, 55, 11);
  text-decoration: none;
  user-select: none;
  border: 1px #093aab solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: rgb(165, 189, 208);
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #093aab;
  text-decoration: none;
  user-select: none;
}


/* メイン */

.logo_t {
  position: absolute;
  left: 550px;
  bottom: 80vh;
}

.logo_y{
  height: 250px;
  width: 250px;
  position: relative;
  top: 80px;
  left: 30px;
}



.main-image {
  height: 200px;
  width: 200px;
}

body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #000000;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

form input,
form textarea {
  width: 80%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #15cb34;
  border-radius: 10px;
  color: #fff;
  border: 0;
  font-size: 16px;
}

.container {
  position: relative;
  top: 15vh;
  left: 10vw;
}

.contents_row {
  background-color: #b6c7f3;
  height: 100vh;
}